{{#paper-content class="md-padding flex layout-column"}}
{{!-- <h3>dashboard</h3> --}}

    {{!-- <div class="flex-20">
      <h3>pie chart</h3>
    </div> --}}
  <div class="flex-33 layout-row">
    <div class="flex chart">
      <h3 class="title">Total Reported Crimes by Year</h3>
      {{line-chart
        class="flex"
        dim=yearDim
        group=yearGroupSum
        activeFilters=(route-action 'setYearFilters')
        updateMap=(perform updateMap)
        id="line-chart"
      }}
    </div>
    <div class="flex chart">
      <h3>Total Reported Crimes by Type</h3>
      {{row-chart
        class="flex"
        dim=typeDim
        group=typeGroupSum
        activeFilters=(route-action 'setTypeFilters')
        updateMap=(perform updateMap)
        id="row-chart"
      }}
    </div>
  </div>
  <div class="flex layout-row bottom-half">
    {{typeFilters}}
    <div class="flex table-wrapper">
      {{#records-table
        records=records
        isLoading=isLoading
        communityArea=community_area
      }}

      {{/records-table}}
    </div>
    <div class="flex chart">
      <h3>{{mapHeader}}</h3>
      {{#leaflet-map lat=lat lng=lng zoom=zoom class="flex" as |layers|}}
        {{tile-layer url="https://cartodb-basemaps-{s}.global.ssl.fastly.net/light_all/{z}/{x}/{y}@2x.png"}}
          {{#each markers as |m|}}
            {{#marker-layer lat=m.latitude lng=m.longitude }}
              {{#popup-layer popupOpen=(readonly m.isOpen)}}
                <h3>{{m.primaryType}}</h3>
                {{moment-calendar m.date}}
              {{/popup-layer}}
            {{/marker-layer}}
          {{/each}}

          {{#each communities as |comm|}}
            {{#layers.geoJSON geoJSON=comm.geom key=comm.key weight=1 opacity=0.25 fillOpacity=0.75 fillColor=comm.color onClick=(action "filterComm" comm.key) as |area|}}
              {{#tooltip-layer}}
                <h3>{{comm.name}}</h3>
                {{comm.value}} reported crimes
              {{/tooltip-layer}}
            {{/layers.geoJSON}}
          {{/each}}
      {{/leaflet-map}}
    </div>
  </div>
{{/paper-content}}

{{#paper-button class="reset-button" onClick=(action "clearFilters")}}Reset Filters{{/paper-button}}
